{% extends 'blog/base.html' %}


{% load staticfiles %}

{% block thoughts %}
	<section>
		<div class="row">
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="{% static 'images/pic01.jpg' %}" alt=""></a>
			</div>
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="{% static 'images/pic01.jpg' %}" alt=""></a>
			</div>
			<div class="4u$ 12u$(mobile)">
				<a href="#" class="image fit"><img src="{% static 'images/pic01.jpg' %}" alt=""></a>
			</div>
		</div>
	</section>
{% endblock %}

{% block work %}
	<section>
		<div class="row">
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="{% static 'images/pic01.jpg' %}" alt=""></a>
			</div>
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="{% static 'images/pic01.jpg' %}" alt=""></a>
			</div>
			<div class="4u$ 12u$(mobile)">
				<a href="#" class="image fit"><img src="{% static 'images/pic01.jpg' %}" alt=""></a>
			</div>
		</div>
	</section>
{% endblock %}

{% block photo %}
	<section>
		<div class="row">
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="{% static 'images/pic01.jpg' %}" alt=""></a>
			</div>
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="{% static 'images/pic01.jpg' %}" alt=""></a>
			</div>
			<div class="4u$ 12u$(mobile)">
				<a href="#" class="image fit"><img src="{% static 'images/pic01.jpg' %}" alt=""></a>
			</div>
		</div>
	</section>
{% endblock %}

{% block video %}
	<section>
		<div class="row">
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="{% static 'images/pic01.jpg' %}" alt=""></a>
			</div>
			<div class="4u 12u$(mobile)">
				<a href="#" class="image fit"><img src="{% static 'images/pic01.jpg' %}" alt=""></a>
			</div>
			<div class="4u$ 12u$(mobile)">
				<a href="#" class="image fit"><img src="{% static 'images/pic01.jpg' %}" alt=""></a>
			</div>
		</div>
	</section>
{% endblock %}