{% extends 'blog/home.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block thoughts %}
	<section>
		<div class="row">
		{% for post in thoughts %}
			<div class="4u 12u$(mobile)">
				<a href="{% url 'detail_thoughts' slug=post.slug %}" class="image dynamic">
					<img src="{{ post.thumb.url }}" alt="">
				</a>
			</div>
		{% endfor %}
		</div>
	</section>
{% endblock %}


{% block work %}
	<section>
		<div class="row">
		{% for post in work %}
			<div class="4u 12u$(mobile)">
				<a href="{% url 'detail_work' slug=post.slug %}" class="image dynamic">
					<img src="{{ post.thumb.url }}" alt="">
				</a>
			</div>
		{% endfor %}
		</div>
	</section>
{% endblock %}


{% block photo %}
	<section>
		<div class="row">
		{% for post in photos %}
			<div class="4u 12u$(mobile)">
				<a href="{% url 'detail_photos' slug=post.slug %}" class="image dynamic">
					<img src="{{ post.thumb.url }}" alt="">
				</a>
			</div>
		{% endfor %}
		</div>
	</section>
{% endblock %}


{% block video %}
	<section>
		<div class="row">
		{% for post in videos %}
			<div class="4u 12u$(mobile)">
				<a href="{% url 'detail_videos' slug=post.slug %}" class="image dynamic">
					<img src="https://i3.ytimg.com/vi/{{ post.youtube }}/maxresdefault.jpg" alt="">
				</a>
			</div>
		{% endfor %}
		</div>
	</section>
{% endblock %}


{% block contact %}
	<section>
		<div id="footer">
			<div class="info">
				<a href="mailto:cyrusjan.batino@gmail.com" target="_blank">
					<i class="fa fa-envelope-o"></i>
				</a>
				<a href="https://www.linkedin.com/in/cyrusjan" target="_blank">
					 <i class="fa fa-linkedin"></i>
				</a>
				<a href="https://www.instagram.com/cyrusjan/" target="_blank">
					<i class="fa fa-instagram"></i>
				</a>
				<a href="https://www.youtube.com/c/cyrusbatino" target="_blank">
					<i class="fa fa-youtube-play"></i>
				</a>
				<a href="https://www.facebook.com/cyrus.batino" target="_blank">
					<i class="fa fa-facebook"></i>
				</a>
			</div>
		</div>
	</section>

{% endblock %}
