{% extends 'blog/home.html' %}
{% load staticfiles %}

{% block nav %}
	<a href="{% url 'post_list' %}{{ ext }}" class="back">back</a>
{% endblock %}


{% block content %}
	<article class="panel">
		<header>
			<h3>{{ head }}</h3>
		</header>
		
		<section>
			<div class="row">
				<div class="12u$">

				{% if head == 'photography' %}
					<h1>{{ post.title }}</h1>
					<div class="image dynamic">
						<img src="{{ post.thumb.url }}" alt="">
					</div>

				{% elif head == 'filmography' %}
					<div class="video">
						<iframe src="https://www.youtube.com/embed/{{ post.youtube }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
				{% else %}
			        <h1>{{ post.title }}</h1>
			        {% if post.published_date and head == 'thoughts'%}
			            <div class="date">
			                {{ post.published_date.date }}
			            </div>
			            <hr>
						<div class="image dynamic">
							<img src="{{ post.thumb.url }}" alt="">
						</div>
			            <p>{{ post.text|linebreaksbr }}</p>
			        {% endif %}
		        {% endif %}

				</div>
			</div>
		</section>

	</article>
{% endblock %}